<ng-container *ngIf="condition">
<app-header></app-header>

<form [formGroup]="formModel" (ngSubmit)="postData(formModel)">
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h4 style="font-family:Monospace; text-align: center;">Create an Event</h4>
        <div class="field">
          <div><label class="label">Event Name</label>
          <div class="control">
            <input class="input"
                [class.hasError]="formModel.get('eventname').invalid && formModel.get('eventname').touched" type="text"
                formControlName="eventname">
            </div>
          </div>
          <div [hidden]="formModel.get('eventname').valid || formModel.get('eventname').untouched">
            <div [hidden]="!formModel.hasError('required', 'eventname')">
              Event name is required
            </div>
          </div>
        </div>


        <div class="field">
          <div><label class="label">Event Date</label>
            <div class="control">
              <input class="input"
                  [class.hasError]="formModel.get('eventdate').invalid && formModel.get('eventdate').touched" type="date"
                  formControlName="eventdate">
              </div>
            </div>
            <div [hidden]="formModel.get('eventdate').valid || formModel.get('eventdate').untouched">
              <div [hidden]="!formModel.hasError('required', 'eventdate')">
                Event date is required
              </div>
            </div>
        </div>

        <div class="field">
          <div><label class="label">Event Time</label>
            <div class="control">
              <input class="input"
                  [class.hasError]="formModel.get('eventtime').invalid && formModel.get('eventtime').touched" type="time"
                  formControlName="eventtime">
            </div>
            </div>
            <div [hidden]="formModel.get('eventtime').valid || formModel.get('eventtime').untouched">
              <div [hidden]="!formModel.hasError('required', 'eventtime')">
                Event time is required
              </div>
            </div>
        </div>

        <div class="field">
          <div><label class="label">Event Place</label>
            <div class="control">
              <input class="input"
                  [class.hasError]="formModel.get('eventplace').invalid && formModel.get('eventplace').touched" type="text"
                  formControlName="eventplace">
            </div>
            </div>
            <div [hidden]="formModel.get('eventplace').valid || formModel.get('eventplace').untouched">
              <div [hidden]="!formModel.hasError('required', 'eventplace')">
                Event place is required
              </div>
            </div>
        </div>

        <div class="field">
          <label class="label">Event Description</label>
          <div class="control">
            <textarea name="eventdescription" class="textarea"
              formControlName="eventdescription"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/main">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>

        <nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <p>Event Created Successfully!</p>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleError" nzTitle="Message" (nzOnCancel)="handleCancelError()" (nzOnOk)="handleOkError()">
          <p>Failed to create the event!</p>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleAll" nzTitle="Message" (nzOnCancel)="handleCancelAll()" (nzOnOk)="handleOkAll()">
          <p>Please enter all fields!</p>
        </nz-modal>

      </div>
    </div>
  </section>
</form>

<app-footer></app-footer>

</ng-container>
