<div class="contentwrapper" style="width: 100%; height: 100%;">
  <div class="image">
    <img src="assets/loginimage.png" style="height: 100%;">
  </div>
  <div class="login">
    <div class="redbox">
      <div class="mulogo">
        <img src="assets/logo1.png" style="width: 200px; height: 50px;">
      </div>
      <br />
      <br />
      <br />
      <p>Sign in with your Monmouth account</p>
      <br />
      <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
        <div class="container">
          <div class="field">
            <div class="control">
              <input name="email" class="input" type="email" placeholder="Please enter your email" ngModel>
            </div>
            <br />
            <div class="control">
              <input name="password" class="input" type="password" placeholder="Please enter your password" ngModel>
            </div>
          </div>
          <br />
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>

        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Message"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
        >
          <p>Incorrect username or password!</p>
        </nz-modal>

  </form>
      <p *ngIf="isInvalid" class="text-danger">Please enter a valid account or password.</p>
    </div>
  </div>
</div>





