.image{
  float: left;
  width: 75%;
  height: 100%;
}

.login{
  float: right;
  width: 25%;
    .redbox{
      width: 100%;
      margin-top: 25%;
      .mulogo{
        margin-left: 15%;
      }
      .container{
        margin-left: 11%;
        width: 70%;
      }
      .buttongroup{
        margin-left: 15%;
      }
      .forget{
        margin-top: 15%;
        margin-left: 15%;
      }
      p{
        margin-left: 15%;
      }
    }
}

i {
  cursor: pointer;
}
