<ng-container *ngIf="condition">
<app-header></app-header>

<form [formGroup]="formModel" (ngSubmit)="postData(formModel)">
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h4 style="font-family:Monospace; text-align: center;">Create a pick up form</h4>
        <div class="field">
          <div><label class="label">First Name</label>
            <div class="control">
              <input class="input"
                [class.hasError]="formModel.get('firstname').invalid && formModel.get('firstname').touched" type="text"
                formControlName="firstname">
            </div>
          </div>
          <div [hidden]="formModel.get('firstname').valid || formModel.get('firstname').untouched">
            <div [hidden]="!formModel.hasError('required', 'firstname')">
              First name is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Last Name</label>
            <div class="control">
              <input class="input"
                [class.hasError]="formModel.get('lastname').invalid && formModel.get('lastname').touched" type="text"
                formControlName="lastname">
            </div>
          </div>
          <div [hidden]="formModel.get('lastname').valid || formModel.get('lastname').untouched">
            <div [hidden]="!formModel.hasError('required', 'lastname')">
              Last name is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Email</label>
            <div class="control"><input class="input"
                [class.hasError]="formModel.get('email').invalid && formModel.get('email').touched" type="text"
                formControlName="email">
            </div>
          </div>
          <div [hidden]="formModel.get('email').valid || formModel.get('email').untouched">
            <div [hidden]="!formModel.hasError('required', 'email')">
              Email is required
            </div>
            <div [hidden]="!formModel.hasError('email', 'email')">
              Please enter an valid email address
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Phone Number</label>
            <div class="control"><input class="input" type="text" formControlName="phonenumber">
            </div>
          </div>
          <div [hidden]="formModel.get('phonenumber').valid || formModel.get('phonenumber').pristine">
            <div [hidden]="!formModel.hasError('mobile', 'phonenumber')">
              Please enter the correct phone number
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Arrival Date</label>
            <div class="control"><input class="input"
                [class.hasError]="formModel.get('arrivaldate').invalid && formModel.get('arrivaldate').touched"
                type="date" formControlName="arrivaldate">
            </div>
          </div>
          <div [hidden]="formModel.get('arrivaldate').valid || formModel.get('arrivaldate').untouched">
            <div [hidden]="!formModel.hasError('required', 'arrivaldate')">
              Arrival date is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Arrival Time</label>
            <div class="control">
              <select [class.hasError]="formModel.get('arrivaltime').invalid && formModel.get('arrivaltime').touched"
                formControlName="arrivaltime">
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option>23:00</option>
              </select>

              <!-- <input class="input"
                [class.hasError]="formModel.get('arrivaltime').invalid && formModel.get('arrivaltime').touched"
                type="time" formControlName="arrivaltime"> -->
            </div>
          </div>
          <div [hidden]="formModel.get('arrivaltime').valid || formModel.get('arrivaltime').untouched">
            <div [hidden]="!formModel.hasError('required', 'arrivaltime')">
              Arrival time is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Arrival Airport</label>
            <div class="control"><input class="input"
                [class.hasError]="formModel.get('arrivalairport').invalid && formModel.get('arrivalairport').touched"
                type="text" formControlName="arrivalairport">
            </div>
          </div>
          <div [hidden]="formModel.get('arrivalairport').valid || formModel.get('arrivalairport').untouched">
            <div [hidden]="!formModel.hasError('required', 'arrivalairport')">
              Arrival airport is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Flight Number</label>
            <div class="control"><input class="input"
                [class.hasError]="formModel.get('flightnumber').invalid && formModel.get('flightnumber').touched"
                type="text" formControlName="flightnumber">
            </div>
          </div>
          <div [hidden]="formModel.get('flightnumber').valid || formModel.get('flightnumber').untouched">
            <div [hidden]="!formModel.hasError('required', 'flightnumber')">
              Flight number is required
            </div>
          </div>
        </div>

        <div class="field">
          <div><label class="label">Nationality</label>
            <div class="control">
              <input class="input" type="text" formControlName="nationality">
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea name="message" class="textarea" placeholder="Please leave your messages here"
              formControlName="message"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/main">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>


        <nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <p>Pickup Form Created Successfully!</p>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleError" nzTitle="Message" (nzOnCancel)="handleCancelError()" (nzOnOk)="handleOkError()">
          <p>Failed to create the form!</p>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleAll" nzTitle="Message" (nzOnCancel)="handleCancelAll()" (nzOnOk)="handleOkAll()">
          <p>Please enter all fields!</p>
        </nz-modal>


      </div>
    </div>
  </section>
</form>
<!--
<div>
  {{formModel.status}}
</div> -->

<app-footer></app-footer>

</ng-container>
