<ng-container *ngIf="condition">

<app-header></app-header>

<section class="hero is-light">

  <br />
  <div class="row">
    <div class="col-md-3">
      <iframe
        style="width: 100%; height: 100%;"
        src="https://www.youtube.com/embed/yBtu8efhDNg?start=3"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-3">
      <app-weather-widget></app-weather-widget>
    </div>
    <div class="card col-md-3">
      <div class="row no-gutters">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <div class="card-text">
            <div><span>Name: </span></div>
            <div><span>Email: </span>email</div>
            <div><span>Role: </span>mentor?student</div>
            <div><span>Country: </span>country</div>
            <div><span>ID: </span>id</div>
            <div><span>Department: </span>department</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-mumap></app-mumap>
    </div>
  </div>

  <br />
</section>

<app-footer style="position: absolute; bottom: 0; width: 100%;"></app-footer>

</ng-container>
