<div *ngIf="!paidFor">
  <h1>price: <b>$5.00</b></h1>
  <h1>Choose your payment option</h1>
  <br>

</div>

<div *ngIf=paidFor class="result">
  <h1>Thank you! We have received your payment.</h1>

  <img style="width: 300px; height: 300px; margin-left: 18%;" src="assets/paymentsuccessful.png">
</div>


<div [hidden]="paidFor" #paypal></div>
