<ul nz-menu nzMode="horizontal">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand" style="font-family:Monospace;">International Students Portal</h1>
  </nav>
  <a class="navbar-item float-left" href="https://www.monmouth.edu/" target="_blank">
    <img src="assets/mu-logo.png">
  </a>
  <li nz-menu-item routerLink="/main">
    Home
  </li>
  <li nz-submenu nzTitle="Airport Pick Up">
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item><a routerLink="/airportform">Create Form</a></li>
          <li nz-menu-item><a routerLink="/viewpickups">View Forms</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Mentor">
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item><a routerLink='/mentorapplication'>Assign Mentor</a></li>
          <li nz-menu-item><a routerLink='/display-mentor'>Display Matches</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Event">
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item><a routerLink="/createevent">Create An Event</a></li>
          <li nz-menu-item><a routerLink="/viewevents">View Event</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Register">
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item><a routerLink="/register">Create a Student</a></li>
          <li nz-menu-item><a routerLink="/viewstudents">View Students</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item routerLink="/kanban">
    Kanban board
  </li>
  <div class="navbar-end float-right">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" (click)="handleSignOut()">
          Sign Out
        </a>
      </div>
    </div>
  </div>

</ul>
