<ng-container *ngIf="condition">
  <app-header></app-header>

  <form [formGroup]="formModel" (ngSubmit)="postData(formModel)">
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h4 style="font-family:Monospace; text-align: center;">Create a Student</h4>
          <div class="field">
            <div><label class="label">First Name</label>
              <div class="control">
                <input class="input"
                  [class.hasError]="formModel.get('firstname').invalid && formModel.get('firstname').touched"
                  type="text" formControlName="firstname">
              </div>
            </div>
            <div [hidden]="formModel.get('firstname').valid || formModel.get('firstname').untouched">
              <div [hidden]="!formModel.hasError('required', 'firstname')">
                First name is required
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Last Name</label>
              <div class="control">
                <input class="input"
                  [class.hasError]="formModel.get('lastname').invalid && formModel.get('lastname').touched" type="text"
                  formControlName="lastname">
              </div>
            </div>
            <div [hidden]="formModel.get('lastname').valid || formModel.get('lastname').untouched">
              <div [hidden]="!formModel.hasError('required', 'lastname')">
                Last name is required
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Studnet ID</label>
              <div class="control">
                <input class="input"
                  [class.hasError]="formModel.get('studentid').invalid && formModel.get('studentid').touched"
                  type="text" formControlName="studentid">
              </div>
            </div>
            <div [hidden]="formModel.get('studentid').valid || formModel.get('studentid').untouched">
              <div [hidden]="!formModel.hasError('required', 'studentid')">
                Student ID is required
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Email</label>
              <div class="control">
                <input class="input" [class.hasError]="formModel.get('email').invalid && formModel.get('email').touched"
                  type="text" formControlName="email">
              </div>
            </div>
            <div [hidden]="formModel.get('email').valid || formModel.get('email').untouched">
              <div [hidden]="!formModel.hasError('required', 'email')">
                Email is required
              </div>
              <div [hidden]="!formModel.hasError('email', 'email')">
                Please enter an valid email address
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Password</label>
              <div class="control">
                <input class="input" [class.hasError]="formModel.get('password').invalid && formModel.get('password').touched"
                  type="password" formControlName="password">
              </div>
            </div>
            <div [hidden]="formModel.get('password').valid || formModel.get('password').untouched">
              <div [hidden]="!formModel.hasError('required', 'password')">
                Password is required
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Country</label>
              <div class="control">
                <input class="input" type="text" formControlName="country">
              </div>
            </div>
          </div>

          <div class="field">
            <div><label class="label">Department</label>
              <div class="control">
                <input class="input" type="text" formControlName="department">
              </div>
            </div>
          </div>


          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button type="button" class="button is-text" routerLink="/main">Cancel</button>
            </div>
          </div>

          <nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <p>Student Created Successfully!</p>
          </nz-modal>

          <nz-modal [(nzVisible)]="isVisibleError" nzTitle="Message" (nzOnCancel)="handleCancelError()"
            (nzOnOk)="handleOkError()">
            <p>Failed to create the student!</p>
          </nz-modal>

          <nz-modal [(nzVisible)]="isVisibleAll" nzTitle="Message" (nzOnCancel)="handleCancelAll()"
            (nzOnOk)="handleOkAll()">
            <p>Please enter all fields!</p>
          </nz-modal>


        </div>
      </div>
    </section>
  </form>


  <app-footer></app-footer>

</ng-container>
