<ng-container *ngIf="condition">

  <app-header></app-header>
  <nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
    <thead>
      <tr>
        <th colspan="11">Airport Pick Up List</th>
      </tr>
      <tr>
        <th nzWidth="9.09%" nzLeft="0px">First Name</th>
        <th nzWidth="9.09%">Last Name</th>
        <th nzWidth="9.09%">Email</th>
        <th nzWidth="9.09%">Phone Number</th>
        <th nzWidth="9.09%">Arrival Date</th>
        <th nzWidth="9.09%">Arrival Time</th>
        <th nzWidth="9.09%">Arrival Airport</th>
        <th nzWidth="9.09%">Flight Number</th>
        <th nzWidth="9.09%">Nationality</th>
        <th nzWidth="9.09%">Message</th>
        <th nzWidth="9.09%" nzRight="0px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td nzLeft="0px">{{ item.firstname }}</td>
        <td nzLeft="150px">{{ item.lastname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.arrivaldate }}</td>
        <td>{{ item.arrivaltime }}</td>
        <td>{{ item.arrivalairport }}</td>
        <td>{{ item.flightnumber }}</td>
        <td>{{ item.nationality }}</td>
        <td>{{ item.message }}</td>
        <td nzRight="0px">
          <a (click)="delete(item.id)">Delete</a>
          <span> / </span>
          <a (click)="edit(item.id)">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>


  <nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Pickup Information Changed!</p>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisible2" nzTitle="Pickup Info" (nzOnCancel)="handleCancel2()"
    (nzOnOk)="handleOk2(formModel, deleteId)" [nzOkLoading]="isOkLoading">
    <form [formGroup]="formModel">
      <div><label class="label">First Name</label>
        <div class="control">
          <input class="input" [(ngModel)]="firstname" type="text" formControlName="firstname">
        </div>
      </div>

      <div><label class="label">Last Name</label>
        <div class="control">
          <input class="input" [(ngModel)]="lastname" type="text" formControlName="lastname">
        </div>
      </div>

      <div><label class="label">Email</label>
        <div class="control"><input class="input" [(ngModel)]="email" type="text" formControlName="email">
        </div>
      </div>

      <div><label class="label">Phone Number</label>
        <div class="control"><input class="input" [(ngModel)]="phonenumber" type="text" formControlName="phonenumber">
        </div>
      </div>

      <div><label class="label">Arrival Date</label>
        <div class="control"><input class="input" [(ngModel)]="arrivaldate" type="date" formControlName="arrivaldate">
        </div>
      </div>

      <div><label class="label">Arrival Time</label>
        <div class="control">
          <select formControlName="arrivaltime" [(ngModel)]="arrivaltime">
            <option>00:00</option>
            <option>01:00</option>
            <option>02:00</option>
            <option>03:00</option>
            <option>04:00</option>
            <option>05:00</option>
            <option>06:00</option>
            <option>07:00</option>
            <option>08:00</option>
            <option>09:00</option>
            <option>10:00</option>
            <option>11:00</option>
            <option>12:00</option>
            <option>13:00</option>
            <option>14:00</option>
            <option>15:00</option>
            <option>16:00</option>
            <option>17:00</option>
            <option>18:00</option>
            <option>19:00</option>
            <option>20:00</option>
            <option>21:00</option>
            <option>22:00</option>
            <option>23:00</option>
          </select>
        </div>
      </div>

      <div><label class="label">Arrival Airport</label>
        <div class="control"><input class="input" [(ngModel)]="arrivalairport" type="text" formControlName="arrivalairport">
        </div>
      </div>

      <div><label class="label">Flight Number</label>
        <div class="control"><input class="input" [(ngModel)]="flightnumber" type="text" formControlName="flightnumber">
        </div>
      </div>

      <div><label class="label">Nationality</label>
        <div class="control">
          <input class="input" [(ngModel)]="nationality" type="text" formControlName="nationality">
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea name="message" class="textarea" [(ngModel)]="message" formControlName="message"></textarea>
        </div>
      </div>


    </form>
  </nz-modal>

  <app-footer></app-footer>

</ng-container>
