<ng-container *ngIf="condition">

  <app-header></app-header>

  <nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
    <thead>
      <tr>
        <th colspan="7">Event List</th>
      </tr>
      <tr>
        <th nzWidth="14.20%" nzLeft="0px">Event Name</th>
        <th nzWidth="14.20%" nzLeft="150px">Event Place</th>
        <th nzWidth="14.20%">Event Date</th>
        <th nzWidth="14.20%">Event Time</th>
        <th nzWidth="14.20%">Description</th>
        <th nzWidth="14.20%" nzRight="0px">Actions</th>
        <th nzWidth="14.20%">Get Ticket</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td nzLeft="0px">{{ item.eventname }}</td>
        <td nzLeft="150px">{{ item.eventplace }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.description }}</td>
        <td nzRight="0px">
          <a (click)="delete(item.id)">Delete</a>
          <span> / </span>
          <a (click)="edit(item.id)">Edit</a>
        </td>
        <td><button nz-button nzType="primary" (click)="openticket()">Get Ticket</button></td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Event Information Changed!</p>
  </nz-modal>

  <nz-modal [(nzVisible)]="ticket" nzTitle="Get your ticket" (nzOnCancel)="handleCancel3()" (nzOnOk)="handleOk3()">
    <app-payme></app-payme>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisible2" nzTitle="Event Info" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2(formModel, deleteId)" [nzOkLoading]="isOkLoading">
    <form [formGroup]="formModel">
      <div><label class="label">Event Name</label>
        <div class="control">
          <input class="input" [(ngModel)]="eventname" type="text" formControlName="eventname">
        </div>
      </div>
      <div><label class="label">Event Place</label>
        <div class="control">
          <input class="input" [(ngModel)]="eventplace" type="text" formControlName="eventplace">
        </div>
      </div>
      <div><label class="label">Event Date</label>
        <div class="control">
          <input class="input" [(ngModel)]="date" type="text" formControlName="eventdate">
        </div>
      </div>
      <div><label class="label">Event Time</label>
        <div class="control">
          <input class="input" [(ngModel)]="time" type="text" formControlName="eventtime">
        </div>
      </div>
      <div class="field">
        <label class="label">Event Description</label>
        <div class="control">
          <textarea name="eventdescription" class="textarea" formControlName="eventdescription"
            [(ngModel)]="description"></textarea>
        </div>
      </div>
    </form>

  </nz-modal>

  <app-footer></app-footer>

</ng-container>
