<ng-container *ngIf="condition">

<app-header></app-header>
<nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
  <thead>
    <tr>
      <th colspan="7">Students List</th>
    </tr>
    <tr>
      <th nzWidth="14.28%" nzLeft="0px">Fitst Name</th>
      <th nzWidth="14.28%">Last Name</th>
      <th nzWidth="14.28%">Student ID</th>
      <th nzWidth="14.28%">Email</th>
      <th nzWidth="14.28%">Country</th>
      <th nzWidth="14.28%">Department</th>
      <th nzWidth="14.28%" nzRight="0px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td nzLeft="0px">{{ item.firstname }}</td>
      <td>{{ item.lastname }}</td>
      <td>{{ item.studentid }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.department }}</td>
      <td nzRight="0px">
        <a (click)="delete(item.id)">Delete</a>
        <span> / </span>
        <a (click)="edit(item.id)">Edit</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Student Information Changed Successfully!</p>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible2" nzTitle="Student Info" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2(formModel, deleteId)" [nzOkLoading]="isOkLoading">
  <form [formGroup]="formModel">
    <div><label class="label">First Name</label>
      <div class="control">
        <input class="input" [(ngModel)]="firstname"
          type="text" formControlName="firstname">
      </div>
    </div>

    <div><label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="lastname"
          formControlName="lastname">
      </div>
    </div>

    <div><label class="label">Studnet ID</label>
      <div class="control">
        <input class="input" [(ngModel)]="studentid"
          type="text" formControlName="studentid">
      </div>
    </div>

    <div><label class="label">Email</label>
      <div class="control">
        <input class="input" [(ngModel)]="email" type="text" formControlName="email">
      </div>
    </div>

    <div><label class="label">Password</label>
      <div class="control">
        <input class="input" [(ngModel)]="password" type="password" formControlName="password">
      </div>
    </div>

    <div><label class="label">Country</label>
      <div class="control">
        <input class="input" [(ngModel)]="country" type="text" formControlName="country">
      </div>
    </div>

    <div><label class="label">Department</label>
      <div class="control">
        <input class="input" [(ngModel)]="department" type="text" formControlName="department">
      </div>
    </div>

  </form>
</nz-modal>

<app-footer></app-footer>

</ng-container>
