<ng-container *ngIf="condition">

<app-header></app-header>
<nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
  <thead >
    <tr>
      <th colspan="7">Mentor Matches</th>
    </tr>
    <tr >
      <th nzWidth="50%">Mentor</th>
      <th nzWidth="50%">Mentee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list;">
      <td>{{item.firstname}} {{item.lastname}}</td>

      <div *ngFor="let mentee of item.students">
        <td>
          {{mentee.firstname}} {{mentee.lastname}}
        </td>
      </div>

    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Message" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Delete Successfully!</p>
</nz-modal>

<app-footer></app-footer>

</ng-container>
