<ng-container *ngIf="condition">

  <app-header></app-header>

  <div class="root">
    <div class="board">
      <div class="board-bar">
        <p class="board-name">Board Name</p>
      </div>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of board.columns">

            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                {{item}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>

</ng-container>
